@charset "UTF-8";
/**
* Ultraligero Framework
* ---------------------
*
* Desarrollado por El Cultivo
* http://elcultivo.mx
*
*
*
* Usar ese archivo para customizar estilos
* 
*/
/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/**
* SET UP VARS
* -----------
*
* Antes de sobrescribir, échale un ojo a este file
* Algunos estilos son fácilmente configurables 
* con sólo cambiar el valor de las variables en _config.scss
* 
*/
/**
* MIXINS
* ------
* Agrega aquí tus mixins
* 
*/
/**
*  Especificar la fuentes personalizada para el diseño de la pagina
*	
*  @param string $font-family: nombre de la fuente
*  @param string $font-filename: nombre del origen (archivo) que contiene la fuente
*  @param string|number $font-weight: alto de la fuente. 
*  @param string $font-style: estilo de la fuente. 
*  @param string $font-stretch: anchura de la fuente. 
*/
/**
* Devuelve tamaño de fuente con line-height y margin bottom.
* 
* @param number $font-size: (req) tamaño de la fuente
* @param number $line-height: Alto de la interlínea. Si no le pasas número lo calcula 
* @param bool/number $margin: Margen inferior. Si no le pasas número usa la interlínea
*
* la función tamano se encuentra en el archivo _funciones.scss
*/
/**
*  imagen de fondo
* 
* @param string $file: nombre del origen (archivo) de la imagen
* @param string $type: formato (extensión) de la imagen
* @param number $width: Ancho de la imagen
* @param number $height: Alto de la imagen
*/
/**
* MIXINS LOCALES
* ------
* Agrega aquí tus mixins locales
* 
*/
/**
*  filtro para mostrar la imagen dentro de los límites fondo
* 
* @param string $file: nombre del origen (archivo) de la imagen
* @param string $type: formato (extensión) de la imagen
* @param number $width: Ancho de la imagen
* @param number $height: Alto de la imagen
*/
/**
*  Asigna el ancho a las columnas 
* 
* @param number $cols: numero de columnas 
* @param string|number $respond-to: ajuste del tamaño de las media queries
*
* la función cada_col se encuentra en el archivo _funciones.scss
*/
/**
* FUNCTIONS
* ---------
* Agrega aquí tus funciones 
* 
*/
/**
* Cuánto debe medir cada columna (unidad) 
*
* @param number $cuantas-cols: numero total de columnas 
* @return number porcentaje del ancho de columnas
*
* Se usa -1 por la primer columna a la que se le quita el margen izquierdo 
*/
/**
* Se usa en el Loop para crear todos los tamaños de columnas ej. .grade-12.column
*
* @param number $num: numero de la columna que se especifica
* @return number porcentaje del ancho de la columna que se especifica
*
*/
/**
* Cuánto debe medir cada cuadro (unidad)
*
* @param number $cuantas-cols: numero total de cuadros 
* @return number porcentaje del ancho de cuadros
*
* No se le resta porque todos tienen margen derecho
*/
/**
* Se usa en el Loop para crear todos los tamaños de cuadros ej. .grade-12.column
*
* @param number $num: numero de cuadro que se especifica  
* @return number porcentaje del ancho del cuadro que se especifica
*
*/
/**
* Calcula los margenes de la class centered
*
* @param number $num: numero de columna 
* @return number porcentaje del tamaño de la class centered
*
*/
/**
* Crea el estilo para crear los espacios a la izquierda
*
* @param number $num: numero de columna 
* @param boolean $first-child trigger agrenga un el margen de la ultima columna al caso seleccionado Por defecto false.
* @return number porcentaje del tamaño empujar columnas 
*
*/
/**
* Generador de tamaños en función de la base 
*
* @param number $ratio: el número de veces que quieres multiplicar la base
* @return number pixeles de referencia  
*
*/
/**
* Regresa el valor sin unidades
*
* @param number $num: valor a que se le quieran quitar las unidades 
* @return number valor sin unidades 
*
*/
/**
* Crea el nombre de las class de las columnas 
*
* @param number $number: numero de columna 
* @return string regresa las clases
*
*/
/**
* ESTILOS BÁSICOS 
* ---------------
*
* Estilos básicos de ultraligero
* Edítalos o sobreescríbelos
* 
*/
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; }
  *::selection {
    background: #FFF; }
  *::-moz-selection {
    background: #FFF; }

html {
  font-size: 20px; }

html, body {
  height: 100%; }

body {
  position: relative;
  font-family: "Neusa", "Myriad", sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased; }

strong {
  font-weight: bold; }

a {
  color: #4d4d4d;
  text-decoration: none; }
  a:hover {
    color: #333333; }

img {
  -ms-interpolation-mode: bicubic; }

.column img, .columns img {
  max-width: 100%; }

p {
  font-family: "Neusa", "Myriad", sans-serif;
  font-size: 20px;
  line-height: 25px;
  color: #333333; }
  p em {
    font-style: italic; }

ol {
  list-style: decimal;
  margin-left: 1.55em; }

ul {
  list-style: disc;
  margin-left: 1.1em; }

input, textarea {
  border: 1px solid #e4e4e4;
  padding-right: .5em;
  padding-left: .5em;
  -moz-appereance: none;
  -webkit-appearance: none;
  border-radius: 0; }
  input[type="submit"], textarea[type="submit"] {
    cursor: pointer; }

input[type="text"], input[type="password"], textarea {
  width: 100%; }

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
  border-color: white; }

form input[type="text"], form textarea, form input[type="password"] {
  margin-bottom: 20px; }
form input {
  height: 70px; }
form textarea {
  padding-top: 20px; }
form input[type="submit"] {
  margin-bottom: 120px; }

/**
* CLASES GLOBALES 
* ---------------
*
* Algunos elementos están pre-estilisados
* Usa estas clases para esilizar menús, botones, etc
* Edita o sobreescribe lo que no te guste
* 
*/
.centrado {
  text-align: center; }

.derecha {
  text-align: right; }

.izquierda {
  text-align: left; }

.justificado {
  text-align: justify; }

.sin-mar-izq {
  margin-left: 0 !important; }

@media only screen and (max-width: 768px) {
  .medio-sin-mar-izq {
    margin-left: 0 !important; } }
@media only screen and (max-width: 568px) {
  .chico-sin-mar-izq {
    margin-left: 0 !important; } }
.sin-mar-der {
  margin-right: 0 !important; }

.sin-mar-btm {
  margin-bottom: 0 !important; }

.sin-pad-btm {
  padding-bottom: 0 !important; }

.boton {
  text-decoration: none;
  display: inline-block;
  padding: 20px 20px;
  font-size: 20px;
  line-height: 20px;
  background-color: #333333;
  color: #e4e4e4;
  text-align: center;
  cursor: pointer; }
  .boton.chico {
    padding: 10px; }
  .boton.mediano {
    padding: 30px 40px 30px 40px;
    font-size: 30px; }
  .boton.grande {
    padding: 40px 50px 40px 50px;
    font-size: 40px; }
  .boton.redondeado {
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px; }

.el-menu {
  width: 100%;
  z-index: 1000;
  height: 120px;
  display: table; }
  .el-menu ul {
    float: right;
    list-style-type: none; }
  .el-menu li {
    float: left;
    margin-left: 40px; }
    .el-menu li a {
      vertical-align: middle;
      display: table-cell;
      font-size: 40px;
      height: 120px; }
  .el-menu .logo {
    vertical-align: middle;
    display: table-cell;
    height: 120px; }
  .el-menu.fijo {
    position: fixed;
    display: none; }

@media only screen and (max-width: 800) {
  .body {
    width: 100%; } }
@media only screen and (max-width: 300) {
  .body {
    width: 100%; } }
@media only screen and (max-width: 600) {
  .chico-1.cuadro {
    width: 31.7708333333%; }

  .empuja-chico-1.cuadro {
    margin-left: 35.4166666667%; }
    .empuja-chico-1.cuadro:first-child {
      margin-left: 33.8541666667%; }

  .chico-1.centered {
    margin-left: 33.8541666667%; }

  .chico-2.cuadro {
    width: 65.1041666667%; }

  .empuja-chico-2.cuadro {
    margin-left: 69.2708333333%; }
    .empuja-chico-2.cuadro:first-child {
      margin-left: 67.7083333333%; }

  .chico-2.centered {
    margin-left: 16.9270833333%; }

  .chico-3.cuadro {
    width: 98.4375%; }

  .empuja-chico-3.cuadro {
    margin-left: 103.125%; }
    .empuja-chico-3.cuadro:first-child {
      margin-left: 101.5625%; }

  .chico-3.centered {
    margin-left: 0%; } }
@media only screen and (max-width: 800) {
  .medio-1.cuadro {
    width: 31.7708333333%; }

  .empuja-medio-1.cuadro {
    margin-left: 35.4166666667%; }
    .empuja-medio-1.cuadro:first-child {
      margin-left: 33.8541666667%; }

  .medio-1.centered {
    margin-left: 33.8541666667%; }

  .medio-2.cuadro {
    width: 65.1041666667%; }

  .empuja-medio-2.cuadro {
    margin-left: 69.2708333333%; }
    .empuja-medio-2.cuadro:first-child {
      margin-left: 67.7083333333%; }

  .medio-2.centered {
    margin-left: 16.9270833333%; }

  .medio-3.cuadro {
    width: 98.4375%; }

  .empuja-medio-3.cuadro {
    margin-left: 103.125%; }
    .empuja-medio-3.cuadro:first-child {
      margin-left: 101.5625%; }

  .medio-3.centered {
    margin-left: 0%; } }
@media only screen and (max-width: 1200) {
  .grande-1.cuadro {
    width: 31.7708333333%; }

  .empuja-grande-1.cuadro {
    margin-left: 35.4166666667%; }
    .empuja-grande-1.cuadro:first-child {
      margin-left: 33.8541666667%; }

  .grande-1.centered {
    margin-left: 33.8541666667%; }

  .grande-2.cuadro {
    width: 65.1041666667%; }

  .empuja-grande-2.cuadro {
    margin-left: 69.2708333333%; }
    .empuja-grande-2.cuadro:first-child {
      margin-left: 67.7083333333%; }

  .grande-2.centered {
    margin-left: 16.9270833333%; }

  .grande-3.cuadro {
    width: 98.4375%; }

  .empuja-grande-3.cuadro {
    margin-left: 103.125%; }
    .empuja-grande-3.cuadro:first-child {
      margin-left: 101.5625%; }

  .grande-3.centered {
    margin-left: 0%; } }
@media only screen and (max-width: 1400) {
  .extra-1.cuadro {
    width: 31.7708333333%; }

  .empuja-extra-1.cuadro {
    margin-left: 35.4166666667%; }
    .empuja-extra-1.cuadro:first-child {
      margin-left: 33.8541666667%; }

  .extra-1.centered {
    margin-left: 33.8541666667%; }

  .extra-2.cuadro {
    width: 65.1041666667%; }

  .empuja-extra-2.cuadro {
    margin-left: 69.2708333333%; }
    .empuja-extra-2.cuadro:first-child {
      margin-left: 67.7083333333%; }

  .extra-2.centered {
    margin-left: 16.9270833333%; }

  .extra-3.cuadro {
    width: 98.4375%; }

  .empuja-extra-3.cuadro {
    margin-left: 103.125%; }
    .empuja-extra-3.cuadro:first-child {
      margin-left: 101.5625%; }

  .extra-3.centered {
    margin-left: 0%; } }
.supergrande-1.cuadro {
  width: 31.7708333333%; }

.empuja-supergrande-1.cuadro {
  margin-left: 35.4166666667%; }
  .empuja-supergrande-1.cuadro:first-child {
    margin-left: 33.8541666667%; }

.supergrande-1.centered {
  margin-left: 33.8541666667%; }

.supergrande-2.cuadro {
  width: 65.1041666667%; }

.empuja-supergrande-2.cuadro {
  margin-left: 69.2708333333%; }
  .empuja-supergrande-2.cuadro:first-child {
    margin-left: 67.7083333333%; }

.supergrande-2.centered {
  margin-left: 16.9270833333%; }

.supergrande-3.cuadro {
  width: 98.4375%; }

.empuja-supergrande-3.cuadro {
  margin-left: 103.125%; }
  .empuja-supergrande-3.cuadro:first-child {
    margin-left: 101.5625%; }

.supergrande-3.centered {
  margin-left: 0%; }

.fixed {
  position: fixed;
  max-width: 100%;
  width: 100%; }

.d-bl {
  display: block; }

.cuadricula {
  margin: 0;
  max-width: 10000px; }

.left {
  float: left; }

.m0 {
  margin: 0; }

.mb0 {
  margin-bottom: 0; }

.right {
  float: right; }

.top {
  top: 0; }

.ontop {
  z-index: 99; }

/*
Ejemplo: http://codepen.io/anon/pen/qOGKvM

Basado en http://codepen.io/pedrocampos/pen/gufrx

Icono en CSS para el Menú Móvil con alguna animaciones
mas info en el archivo original _icono__css-menu.scss
*/
.icon__css-menu {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 25px; }

.icon__css-menu .icon__css-menu__panes {
  margin: 0 auto;
  position: relative;
  top: 12px; }

.icon__css-menu .icon__css-menu__panes:before, .icon__css-menu .icon__css-menu__panes:after {
  position: absolute;
  content: ''; }

.icon__css-menu .icon__css-menu__panes, .icon__css-menu .icon__css-menu__panes:before, .icon__css-menu .icon__css-menu__panes:after {
  width: 30px;
  height: 6px;
  background-color: #000;
  display: block; }

.icon__css-menu .icon__css-menu__panes:before {
  margin-top: -12px; }

.icon__css-menu .icon__css-menu__panes:after {
  margin-top: 12px; }

/*
Animaciones
*/
/*Rotación*/
.icon__css-menu--rotacion {
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease; }

.icon__css-menu--rotacion.on {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg); }

/* Compresión */
.icon__css-menu--compresion .icon__css-menu__panes:before,
.icon__css-menu--compresion .icon__css-menu__panes:after {
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease; }

.icon__css-menu--compresion.on .icon__css-menu__panes:before,
.icon__css-menu--compresion.on .icon__css-menu__panes:after {
  margin-top: 0px; }

/* Conversión en punto */
.icon__css-menu--punto .icon__css-menu__panes {
  -webkit-transition: 0.2s ease 0s;
  transition: 0.2s ease 0s; }

.icon__css-menu--punto .icon__css-menu__panes:before,
.icon__css-menu--punto .icon__css-menu__panes:after {
  -webkit-transition-property: margin, opacity;
  transition-property: margin, opacity;
  -webkit-transition-duration: 0.2s, 0s;
  transition-duration: 0.2s, 0s;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s; }

.icon__css-menu--punto.on .icon__css-menu__panes {
  width: 6px;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s; }

.icon__css-menu--punto.on .icon__css-menu__panes:before,
.icon__css-menu--punto.on .icon__css-menu__panes:after {
  margin-top: 0px;
  opacity: 0;
  -webkit-transition-delay: 0s, 0.2s;
  transition-delay: 0s, 0.2s; }

/*Conversión en símbolo de Cierre */
.icon__css-menu--close .icon__css-menu__panes {
  -webkit-transition-duration: 0s;
  transition-duration: 0s;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s; }

.icon__css-menu--close.on .icon__css-menu__panes {
  background-color: transparent;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s; }

.icon__css-menu--close .icon__css-menu__panes:before {
  -webkit-transition-property: margin, -webkit-transform;
  transition-property: margin, transform;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-delay: 0.2s, 0s;
  transition-delay: 0.2s, 0s; }

.icon__css-menu--close.on .icon__css-menu__panes:before {
  margin-top: 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition-delay: 0s, 0.2s;
  transition-delay: 0s, 0.2s; }

.icon__css-menu--close .icon__css-menu__panes:after {
  -webkit-transition-property: margin, -webkit-transform;
  transition-property: margin, transform;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-delay: 0.2s, 0s;
  transition-delay: 0.2s, 0s; }

.icon__css-menu--close.on .icon__css-menu__panes:after {
  margin-top: 0;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition-delay: 0s, 0.2s;
  transition-delay: 0s, 0.2s; }

/* Circulo */
.icon__css-menu--circulo .icon__css-menu__panes {
  -webkit-transition: 0.2s ease 0s;
  transition: 0.2s ease 0s; }

.icon__css-menu--circulo .icon__css-menu__panes:before,
.icon__css-menu--circulo .icon__css-menu__panes:after {
  -webkit-transition-property: margin, opacity;
  transition-property: margin, opacity;
  -webkit-transition-duration: 0.2s, 0s;
  transition-duration: 0.2s, 0s;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s; }

.icon__css-menu--circulo.on .icon__css-menu__panes {
  width: 16px;
  height: 16px;
  margin-top: -5px;
  border-radius: 50%;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s; }

.icon__css-menu--circulo.on .icon__css-menu__panes:before,
.icon__css-menu--circulo.on .icon__css-menu__panes:after {
  margin-top: 0px;
  opacity: 0;
  -webkit-transition-delay: 0s, 0.2s;
  transition-delay: 0s, 0.2s; }

/* Pirámide */
.icon__css-menu--piramide .icon__css-menu__panes {
  -webkit-transition-property: margin, width;
  transition-property: margin, width;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-delay: 0.2s, 0s;
  transition-delay: 0.2s, 0s; }

.icon__css-menu--piramide.on .icon__css-menu__panes {
  margin-top: 6px;
  width: 20px;
  -webkit-transition-delay: 0s, 0.2s;
  transition-delay: 0s, 0.2s; }

.icon__css-menu--piramide .icon__css-menu__panes:after {
  left: 0;
  -webkit-transition-property: margin, left;
  transition-property: margin, left;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-delay: 0.2s, 0s;
  transition-delay: 0.2s, 0s; }

.icon__css-menu--piramide.on .icon__css-menu__panes:after {
  margin-top: 6px;
  left: -5px;
  -webkit-transition-delay: 0s, 0.2s;
  transition-delay: 0s, 0.2s; }

.icon__css-menu--piramide .icon__css-menu__panes:before {
  left: 0;
  -webkit-transition-property: margin, width, left;
  transition-property: margin, width, left;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-delay: 0.2s, 0s, 0s;
  transition-delay: 0.2s, 0s, 0s; }

.icon__css-menu--piramide.on .icon__css-menu__panes:before {
  margin-top: -6px;
  width: 10px;
  left: 5px;
  -webkit-transition-delay: 0s, 0.2s, 0.2s;
  transition-delay: 0s, 0.2s, 0.2s; }

/**
* FUENTES
* -------
*/
@font-face {
  font-family: "Neusa";
  src: url("../fonts/bvaftfneusa-regular-webfont.eot");
  src: url("../fonts/bvaftfneusa-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/bvaftfneusa-regular-webfont.woff") format("woff"), url("../fonts/bvaftfneusa-regular-webfont.ttf") format("truetype"), url("../fonts/bvaftfneusa-regular-webfont.svg#../fonts/bvaftfneusa-regular-webfont") format("svg");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal; }
@font-face {
  font-family: "Neusa";
  src: url("../fonts/bvaftfneusa-demibold-webfont.eot");
  src: url("../fonts/bvaftfneusa-demibold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/bvaftfneusa-demibold-webfont.woff") format("woff"), url("../fonts/bvaftfneusa-demibold-webfont.ttf") format("truetype"), url("../fonts/bvaftfneusa-demibold-webfont.svg#../fonts/bvaftfneusa-demibold-webfont") format("svg");
  font-weight: bold;
  font-style: normal;
  font-stretch: normal; }
@font-face {
  font-family: "Helve";
  src: url("../fonts/HelveticaNeue-Light.eot");
  src: url("../fonts/HelveticaNeue-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeue-Light.woff") format("woff"), url("../fonts/HelveticaNeue-Light.ttf") format("truetype"), url("../fonts/HelveticaNeue-Light.svg#../fonts/HelveticaNeue-Light") format("svg");
  font-weight: 200;
  font-style: normal;
  font-stretch: normal; }
/**
* TIPOGRAFÍA
* ----------
*/
.tam-prin {
  font-size: 140px;
  line-height: 160px;
  margin-bottom: 160px; }

.tam-sec {
  font-size: 100px;
  line-height: 120px; }

.tam-ter {
  font-size: 60px;
  line-height: 100px; }
  .tam-ter p, .tam-ter ul, .tam-ter ol {
    font-size: 60px;
    line-height: 100px;
    margin-bottom: 100px; }
  .tam-ter input, .tam-ter textarea {
    font-size: 60px;
    line-height: 100px;
    margin-bottom: 20px; }

.tam-cuat p {
  font-size: 40px;
  line-height: 100px;
  margin-bottom: 40px; }

.tam-min p, .tam-min ul, .tam-min ol {
  font-size: 20px;
  line-height: 40px;
  margin-bottom: 40px; }

/**
* SECCIONES
* -----------
*/
.seccion {
  padding-top: 220px;
  padding-bottom: 180px; }

.introduccion {
  background-color: #333333;
  color: #e4e4e4; }
  .introduccion h1 {
    margin-bottom: 180px; }

.consulta {
  background-color: #FFF; }

.como-funciona {
  background-color: #333333; }
  .como-funciona .boton {
    background-color: #FFF; }

.contacto {
  background-color: #333333; }
  .contacto .contacto-form input, .contacto .contacto-form textarea {
    background-color: #333333;
    color: #e4e4e4; }
    .contacto .contacto-form input[type="submit"], .contacto .contacto-form textarea[type="submit"] {
      color: #e4e4e4; }
    .contacto .contacto-form input::-webkit-input-placeholder, .contacto .contacto-form textarea::-webkit-input-placeholder {
      color: #e4e4e4; }
    .contacto .contacto-form input:-moz-placeholder, .contacto .contacto-form textarea:-moz-placeholder {
      color: #e4e4e4; }
    .contacto .contacto-form input::-moz-placeholder, .contacto .contacto-form textarea::-moz-placeholder {
      color: #e4e4e4; }
    .contacto .contacto-form input:-ms-input-placeholder, .contacto .contacto-form textarea:-ms-input-placeholder {
      color: #e4e4e4; }
