#clientes
{
	background-color: $color-claro;

	padding-top: $pch;
	padding-bottom: $mstd - 40px;//del mb de imagen__clientes
	

	.ima
	{
		margin-bottom: $mstd/2;
		&:last-child
		{
			margin-bottom: 0;
		}
	}
}