//Helper Classes

//Placeholders (%): usar con @extend
	// i.e.
	// %boldfont
	// {
	// 	color:$color-texto;
	// 	font-family: $fuente-titulo;
	// 	font-weight: bold;
	// }

//Usar en el HTML

.fixed //usar por ejemplo para un menu flotante
	{position:fixed;
	 max-width: 100%;
	 width: 100%;}

.d-bl
{display:block;}

// .full-width-row
// 	{@extend .row;
// 	 max-width:100%;
// 	 padding: 0 $base-px;}

	.cuadricula
	{margin: 0;
	 max-width: 10000px;}

.left
	{float:left;}

.m0
	{margin:0;}

.mb0
	{margin-bottom: 0;}

.right
	{float: right;}

.top
	{top:0;}

.ontop
	{z-index:99;}

