.form
{
	&__contacto
	{
		margin-bottom: 8px;
		
		&:focus
		{

		}

		&[type="text"], &[type="email"], &__textarea
		{
			
		}
		
		&__label
		{
			font-size: 12px;
			display: block;
			text-transform: uppercase;
			margin-bottom: 8px;
		}

		&__textarea
		{
			
		}

		&__submit
		{

		}

		
	}
	
}

::placeholder
		{
			
		}


