//Links del Menu
.link
{
	font-weight:normal;
		&:hover {font-weight: bold;}
	padding: 0;

	&__menu-lang, &__garba
	{
		@extend %boldfont;
		font-size: 22px;	
	}

	&__garba 
	{
		text-transform: none;
		font-weight: bold;
	}

	&__menu-main, &__menu-secondary
	{
		@extend %parrafont;
		display: block;
		font-size: 28px;
		text-align: right;
		text-transform: uppercase;
		&:last-child {margin-bottom: 42px;}
	}

	&__menu-secondary 
		{
			font-style: normal;
			text-transform: lowercase;
		}
	
	&--selected {font-weight: bold;}

	&--uline {text-decoration: underline};
}
